*{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
}
body{
    position: relative;
    background: url(../assets/IMG-20241219-WA0003.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}
main{
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 6vmax;
}
.main{
    background: rgba(255, 255, 255 , .40);
    /* backdrop-filter: blur(5px); */
}
.head-pic{
    width:17vw;
    height: 20vh;
    margin:30px;
}
.dl{
    width: 35vw;
    height: 20vh;
    margin-top: 45px;

}
.main-info-tab{
    display: flex;
    flex-direction: column;
    align-content: space-around;
}
.main-info-tab > *{
    display: flex;
    margin: 2em;
    color: black;
}
#close{
    padding: 5px;
    cursor: pointer;
}
/* nav */
*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}
/* body{
    overflow: hidden;
    width: 100vw;
    height: 100vh;
} */
.nav{
    background: #0b53be;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 9vh;
    align-items: center;
    position:fixed;
}
img{
    width: 48px;
    height: 48px;
}
.a{
    all: unset;
    cursor: pointer;
    margin: 1em;
    padding: 1em;
    text-align: center;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
a:hover{
    background: #e6d6d6;
    svg{
        fill: black;
    }
}
.sbar{
    width: 250px;
    height: 100vh;
    background: #00060f7a;
    display: none;
    position: fixed;
}
.sidebar{
    display: flex;
    flex-direction: column;
    margin:2em;
}
.close{
    position: absolute;
    right: 0px;
    margin: 1em;
}
.logo{
    margin: 1em;
}
.menus{
    margin: 1em; 
    cursor: pointer; 
}
svg{
    fill: whitesmoke;
    cursor: pointer;
}








 @media screen and (max-width:600px) {
    .a{
        margin-top: 2em;
    }
    a:hover{
        background: #e6d6d6;
        svg{
            fill: black;
        }
    }
}
/* footer */
*{
    margin: 0;
    padding: 0;
}
footer{
    background: #040279;
    color: azure;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* align-items: center; */
    row-gap: 1.5em;
}
.depli{
    cursor: pointer;
    list-style: none;
    margin: 1em;
}
li{
    margin: .3em;
}
.about,.contact, .dep{
    margin: 1em;
}
.mail{
    all: unset;
    cursor: pointer;
}
.mail:hover{
    background: none;
}
.ico{
    display: flex;
    align-content: space-evenly;
    justify-content: space-evenly;
}